name: CI
on: [push, pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: golang:1.25-trixie

    services:
      valkey:
        image: valkey/valkey:8.0-alpine
        ports:
          - 6379:6379
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_DB: gocommon_test
          POSTGRES_USER: gocommon_test
          POSTGRES_PASSWORD: temba
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      localstack:
        image: localstack/localstack:latest
        env:
          SERVICES: s3,dynamodb,cloudwatch
        ports:
          - 4566:4566

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: go test -p=1 -coverprofile=coverage.text -covermode=atomic ./...

      - name: Upload coverage
        if: success()
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
